################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MusicLibraryExport/v15
/MusicLibraryExport/bin/Debug
/MusicLibraryExport/obj/Debug
/MusicLibraryExportTests/bin/Debug
/MusicLibraryExportTests/obj/Debug
/packages
