<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="nlog.txt" internalLogLevel="Warn">

  <targets>
    <target name="fichier" xsi:type="File"
            filename="c:\temp\MusicLiibraryExport.log"
          />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="fichier" />
  </rules>
</nlog>